body {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    background-color: white;
    color: #122947;
    margin: 0 auto;

    .body__wrap {
        background-image: url(/assets/images/Rectangle35.png);
        width: 1366px;
        overflow: hidden;
    }
}