/* блок Натуральная косметика
для бережного ухода за кожей */
.mainCare {
    &__wrap {
        @include flex-between;
        margin: 0 auto;
        max-width: 1366px;
        padding: 0px 168px 70px;

        @include sm {
            position: relative;
            max-width: 768px;
            padding: 0px 45px 70px;
        }

        @include xs {
            display: flex;
            position: relative;
            padding: 190px 15px 60px;
        }
    }
}

.mainCareBox {
    width: 330px;

    @include sm {
        width: 245px;
    }

    @include xs {
        width: 130px;
    }

    img {
        width: 100%;
        height: auto;
    }

    &_levitation {
        @include sm {
            width: 274px;
            @include absolut-top-center(0%, 50%);
        }

        @include xs {
            max-width: 243px;
            @include absolut-top-center(0%, 50%);
        }
    }
}

.careImg {
    margin-bottom: 15px;

    @include sm {
        margin-bottom: 15px;
    }

    @include xs {
        width: 130px;
        margin-bottom: 10px;
    }
}

.careLink {
    @include flex-between;
    @include text-font(16px, 500, 140%);

    @include xs {
        @include text-font(12px, 500, 140%);
    }
}

.tap {
    @include xs {
        width: 23px;
        height: 10px;
    }
}

.mainInfo {
    @include flex-center;
    flex-direction: column;

    &__title {
        @include heading-font(58px, 500, normal);
        max-width: 260px;
        padding-top: 61px;
        margin-bottom: 30px;

        @include sm {
            @include heading-font(54px, 500, normal);
            max-width: 242px;
            padding-top: 28px;
            margin-bottom: 30px;
        }

        @include xs {
            @include heading-font(42px, 500, normal);
            max-width: 188px;
            height: 40px;
            padding-top: 0px;
            margin-bottom: 20px;
        }
    }

    &__text p {
        @include text-font(18px, 400, 145%);
        text-align: center;
        max-width: 274px;
        height: 40px;
        margin-bottom: 40px;

        @include xs {
            @include text-font(16px, 400, 145%);
            text-align: center;
            max-width: 243px;
            height: 35px;
            margin-bottom: 30px;
        }
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        max-width: 141px;
        margin: 0 auto;
        width: 141px;
        height: 41px;
        padding: 13px 27px 16px;

        @include xs {
            @include text-font(14px, 500, 140%);
            width: 132px;
            height: 40px;
            padding: 13px 28px 16px;
        }
    }
}

/* блок Встречайте весну
  вместе с нами */
.mainSpring {
    &__wrap {
        position: relative;
        background: url(../assets/images/банер\ 1.png);
        @include background();
        height: 400px;
        padding: 81px 0;
        position: relative;

        @include sm {
            background-image: url(../assets/images/банер\ 1\ 432.png);
            @include background();
            height: 432px;
            padding: 97px 0;
        }

        @include xs {
            background-image: url(../assets/images/баннер\ 1vert.png);
            @include background();
            height: 562px;
            padding: 296px 38px 60px;
        }
    }
}

.mainSpringBox {
    @include absolute-right(50%, 0%);
    max-width: 284px;
    margin-right: 284px;

    @include sm {
        max-width: 284px;
        margin-right: 85px;
    }

    @include xs {
        top: unset;
        right: unset;
        transform: unset;
        max-width: 253px;
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        @include heading-font(32px, 500, 125%);
        margin-bottom: 30px;

        @include sm {
            @include heading-font(32px, 500, 125%);
            margin-bottom: 30px;
        }

        @include xs {
            @include heading-font(28px, 500, 125%);
            margin-bottom: 25px;
            height: 54px;
        }
    }

    &__text p {
        @include heading-font(18px, 400, 145%);
        height: 65px;
        margin-bottom: 40px;

        @include xs {
            @include heading-font(16px, 400, 145%);
            margin-bottom: 30px;
            height: 57px;
        }
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        width: 141px;
        height: 41px;
        padding: 13px 28px 16px;

        @include xs {
            @include text-font(14px, 500, 140%);
            width: 132px;
            height: 40px;
            margin: 0 auto;
        }
    }
}

/* блок Индивидуальный уход */
.personalCare {
    overflow: hidden;
    max-width: 1366px;
    margin: 0 auto;
    padding: 140px 98px;

    @include sm {
        max-width: 768px;
        padding: 120px 45px;
    }

    @include xs {
        max-width: 320px;
        padding: 80px 15px 272px;
    }

    &__wrap {
        position: relative;
    }
}

.personalCareImg {
    @include absolute-right(50%, 0%);

    @include sm {
        right: -45px;
    }

    @include xs {
        display: block;
        top: unset;
        right: unset;
        bottom: -90px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__xl {
        width: 670px;
        height: 451px;

        @include sm {
            display: none;
        }
    }

    &__sm {
        display: none;
        width: 281px;
        height: 403px;

        @include sm {
            display: block;
        }

        @include xs {
            display: none;
        }
    }

    &__xs {
        display: none;
        width: 250px;
        height: 252px;

        @include xs {
            display: block;
        }
    }
}

.personalCareBox {
    width: 670px;
    height: 583px;
    background-color: #f4f1ed;
    padding: 100px;

    @include sm {
        width: 100%;
        height: unset;
        padding: 60px;
    }

    @include xs {
        text-align: center;
        padding: 60px 31px 110px;
    }

    &__title {
        @include heading-font(32px, 500, 130%);
        margin-bottom: 40px;

        @include xs {
            @include heading-font(28px, 500, 125%);
            margin-bottom: 25px;
        }
    }

    &__text {
        max-width: 329px;
        height: 234px;
        margin-bottom: 45px;

        @include xs {
            max-width: 226px;
            height: 123px;
            margin-bottom: 30px;
        }
    }

    &__text p {
        @include text-font(18px, 400, 145%);

        @include xs {
            @include text-font(16px, 400, 145%);
        }
    }

    &__text p:first-child {
        @include xs {
            display: none;
        }
    }

    &__text p:last-child {
        margin-bottom: 0;
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        width: 200px;
        height: 41px;

        @include xs {
            display: inline-flex;
            @include text-font(14px, 500, 140%);
            width: 182px;
            height: 40px;
        }
    }
}

/* блок Наша история */
.history {
    max-width: 1366px;
    margin: 0 auto;

    @include sm {
        max-width: 768px;
    }

    @include xs {
        max-width: 320px;
    }

    &__wrap {
        background-image: url(/assets/images/600693-PMYQNV-922\ 1.jpg);
        height: 433px;

        @include sm {
            height: unset;
        }
    }
}

.historyBox {
    @include flex-center;
    flex-direction: column;
    max-width: 761px;
    margin: 0 auto;
    padding-top: 120px;

    @include sm {
        max-width: 652px;
        padding: 100px 0;
    }

    @include xs {
        max-width: 242px;
        padding: 60px 0;
    }

    &__text {
        margin-bottom: 50px;

        @include xs {
            margin-bottom: 30px;
        }

        p {
            @include heading-font(31px, 500, 125%);
            text-align: center;

            @include xs {
                @include heading-font(22px, 500, 125%);
            }
        }
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        width: 163px;
        height: 41px;

        @include xs {
            width: 154px;
            height: 40px;
            @include text-font(14px, 500, 140%);
        }
    }
}

.mainGallery {
    overflow: hidden;

    &__wrap {
        @include flex-center;
        background: #f8f8f6;
        width: 1366px;
        height: 594px;
    }
}

.mainGalleryBox {
    &__title {
        @include heading-font(32px, 500, 125%);
        margin-bottom: 30px;
    }

    &__text {
        max-width: 269px;
        margin-bottom: 40px;
    }

    &__text p {
        @include text-font(18px, 400, 145%);
        width: 269px;
        height: 66px;
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        width: 170px;
        height: 41px;

        @include xs {
            @include text-font(14px, 500, 140%);
            width: 154px;
            height: 40px;
        }
    }
}