/* блок Встречайте весну
  вместе с нами */
.mainSpring {
    &__wrap {
        overflow: hidden;
        max-width: 1366px;
        position: relative;
        background: url(../assets/images/банер\ 1.png);
        @include background();
        height: 400px;
        padding: 81px 0;
        position: relative;

        @include sm {
            background-image: url(../assets/images/банер\ 1\ 432.png);
            @include background();
            height: 432px;
            padding: 97px 0;
        }

        @include xs {
            background-image: url(../assets/images/баннер\ 1vert.png);
            @include background();
            height: 562px;
            padding: 296px 38px 60px;
        }
    }
}

.mainSpringBox {
    @include absolute-right(50%, 0%);
    max-width: 284px;
    margin-right: 284px;

    @include sm {
        max-width: 284px;
        margin-right: 85px;
    }

    @include xs {
        top: unset;
        right: unset;
        transform: unset;
        max-width: 253px;
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        @include heading-font(32px, 500, 125%);
        margin-bottom: 30px;

        @include sm {
            @include heading-font(32px, 500, 125%);
            margin-bottom: 30px;
        }

        @include xs {
            @include heading-font(28px, 500, 125%);
            margin-bottom: 25px;
            height: 54px;
        }
    }

    &__text p {
        @include heading-font(18px, 400, 145%);
        height: 65px;
        margin-bottom: 40px;

        @include xs {
            @include heading-font(16px, 400, 145%);
            margin-bottom: 30px;
            height: 57px;
        }
    }

    &__btn {
        @include flex-center;
        @include text-font(16px, 500, 140%);
        @include border;
        width: 141px;
        height: 41px;
        padding: 13px 28px 16px;

        @include xs {
            @include text-font(14px, 500, 140%);
            width: 132px;
            height: 40px;
            margin: 0 auto;
        }
    }
}