* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #122947;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center center;
}

@mixin border {
    border-radius: 2px;
    border: 1px solid #b3bac1;
}

@mixin text-font($size, $weight, $height) {
    font-size: $size;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: $weight;
    line-height: $height;
}

@mixin heading-font ($size, $weight, $height) {
    font-size: $size;
    font-family: Raleway;
    font-style: normal;
    font-weight: $weight;
    line-height: $height;
}

@mixin absolute-right ($top , $right ) {
    position: absolute;
    top: $top;
    right: $right;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

@mixin absolut-top-center ($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

@mixin background () {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 1365px) {
        @content;
    }
}