@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #122947;
  text-decoration: none;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 98px 70px;
}
@media only screen and (max-width: 767px) {
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 60px;
  }
}
@media only screen and (max-width: 1365px) {
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 45px 70px;
  }
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.headerBox_sm {
  width: 24px;
  height: 12px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .headerBox_sm {
    width: 22px;
    height: 11px;
    display: none;
  }
}
.headerBox_xs {
  display: none;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .headerBox_xs {
    display: block;
  }
}

.logo_sm {
  display: block;
}
@media only screen and (max-width: 767px) {
  .logo_sm {
    display: none;
  }
}
.logo_xs {
  display: block;
  width: 131px;
  height: 21px;
}
@media only screen and (max-width: 1365px) {
  .logo_xs {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
}
@media only screen and (max-width: 1365px) {
  .nav__menu {
    display: none;
  }
}
.nav__link {
  font-size: 16px;
  margin-right: 35px;
}
.nav__link:last-child {
  margin-right: 0;
}

.usernav__link {
  margin-right: 30px;
}

.cabinet {
  display: block;
}
@media only screen and (max-width: 767px) {
  .cabinet {
    display: none;
  }
}
.cabinet_xs {
  display: none;
  width: 13px;
  height: 16px;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .cabinet_xs {
    display: block;
  }
}

.basket {
  display: block;
}
@media only screen and (max-width: 767px) {
  .basket {
    display: none;
  }
}
.basket_xs {
  display: none;
  width: 14px;
  height: 16px;
  margin-right: 15px;
}
@media only screen and (max-width: 767px) {
  .basket_xs {
    display: block;
  }
}

.mainCare__wrap {
  display: flex;
  margin: 0 auto;
  max-width: 990px;
  padding-bottom: 70px;
}
@media only screen and (max-width: 1365px) {
  .mainCare__wrap {
    max-width: 679px;
    position: relative;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1365px) {
  .mainCareBox_levitation {
    position: relative;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.careImg {
  width: 330px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1365px) {
  .careImg {
    width: 245px;
  }
}
@media only screen and (max-width: 767px) {
  .careImg {
    width: 130px;
    margin-bottom: 10px;
  }
}

.careLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
@media only screen and (max-width: 767px) {
  .careLink {
    font-size: 12px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}

@media only screen and (max-width: 767px) {
  .tap {
    width: 23px;
    height: 10px;
  }
}

.mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainInfo__title {
  font-size: 58px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 260px;
  padding-top: 61px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1365px) {
  .mainInfo__title {
    font-size: 54px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 242px;
    padding-top: 28px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .mainInfo__title {
    font-size: 42px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 242px;
    padding-top: 60px;
    margin-bottom: 20px;
  }
}
.mainInfo__text p {
  font-size: 18px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  text-align: center;
  max-width: 274px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .mainInfo__text p {
    font-size: 16px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    max-width: 243px;
    margin-bottom: 30px;
  }
}
.mainInfo__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 2px;
  border: 1px solid #b3bac1;
  max-width: 141px;
  margin: 0 auto;
  width: 141px;
  height: 41px;
  padding: 13px 27px 16px;
}

.mainSpring {
  background: url(../assets/images/банер\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .mainSpring {
    background-image: url(../assets/images/баннер\ 1vert.png);
    height: 562px;
  }
}

.mainSpringBox {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(0, -50%);
  width: 284px;
}
.mainSpringBox__title {
  font-size: 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 30px;
}
.mainSpringBox__text {
  margin-bottom: 40px;
}
.mainSpringBox__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 2px;
  border: 1px solid #b3bac1;
  width: 141px;
  height: 41px;
}

.personalCare {
  padding: 140px 98px;
  overflow: hidden;
}
.personalCare .personalCare__wrap {
  position: relative;
}
.personalCare .personalCare__wrap .personalCareImg {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  width: 670px;
  height: 451px;
}
.personalCare .personalCare__wrap .personalCareBox {
  width: 670px;
  height: 583px;
  background-color: #f4f1ed;
  padding: 100px;
}
.personalCare .personalCare__wrap .personalCareBox .personalCareBox__title {
  font-size: 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 40px;
}
.personalCare .personalCare__wrap .personalCareBox .personalCareBox__text {
  max-width: 329px;
  margin-bottom: 45px;
}
.personalCare .personalCare__wrap .personalCareBox .personalCareBox__text p {
  font-size: 18px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 18px;
}
.personalCare .personalCare__wrap .personalCareBox .personalCareBox__text p:last-child {
  margin-bottom: 0;
}
.personalCare .personalCare__wrap .personalCareBox .personalCareBox__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 2px;
  border: 1px solid #b3bac1;
  width: 200px;
  height: 41px;
}

.history {
  overflow: hidden;
}
.history .history__wrap {
  background-image: url(/assets/images/600693-PMYQNV-922\ 1.jpg);
  width: 1366px;
  height: 433px;
  flex-shrink: 0;
}
.history .history__wrap .historyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  flex-shrink: 0;
  padding-top: 120px;
}
.history .history__wrap .historyBox .historyBox__text {
  max-width: 761px;
  margin-bottom: 50px;
}
.history .history__wrap .historyBox .historyBox__text p {
  font-size: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  width: 761px;
  height: 102px;
}
.history .history__wrap .historyBox .historyBox__text p :last-child {
  margin-bottom: 0;
}
.history .history__wrap .historyBox .historyBox__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 2px;
  border: 1px solid #b3bac1;
  width: 163px;
  height: 41px;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  background: #f8f8f6;
  color: #122947;
}

.hero {
  background-image: url(/assets/images/Rectangle35.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__wrap .mainCare__wrap .mainSpring__wrap .personalCare__wrap .history__wrap {
  max-width: 1366px;
  margin: 0 auto;
}
@media only screen and (max-width: 1365px) {
  .hero__wrap .mainCare__wrap .mainSpring__wrap .personalCare__wrap .history__wrap {
    max-width: 767px;
  }
}
@media only screen and (max-width: 767px) {
  .hero__wrap .mainCare__wrap .mainSpring__wrap .personalCare__wrap .history__wrap {
    max-width: 319px;
  }
}

a {
  color: #122947;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */