@import './template';
@import './header';
@import './main';
@import './body';

a {
    color: #122947;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 90vh;
        grid-template-rows: 10vh 1fr;
    }
}